<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="../static/style.css" type="text/css" media="screen" charset="utf-8" />
	<title>Service Manager Lite</title>
</head>
<body>
		<div class="main">
			<div class="nav">
					<div class="logo">
					<h1>Configuration</h1>
					</div>
					<div id="tab">
					<ul>
					<li class="p1"><a href="/config" style="color:#FFF;background-color:#000">User Configuration</a></li>
					<li class="p2"><a href="/event">Device Management</a></li>
					<li class="p3"><a href="/performance">Service Category</a></li>
					<ul>
					</div>
					<div class="logout">
					<a href="/logout">Logout</a>
					</div>
			</div>
			<div class="configuration">
				<h2>Add user</h2>
					
				<div id='config'>
					<form action= "${request.route_url('add_user')}" method = "POST">
						<label>Contact Email:</label>
						<input name="email" type="text" placeholder="Email" />
						<label for="eid">Employee ID:</label>
						<input name="eid" type="text" placeholder="Employee ID"/>
						Configuration Group:
						<select name="utype">
						<option value="${ut['id']}">${ut['name']}</option>
						<option value="0">No UserType in DB</option>
						</select>
						<input type="submit"  name="form.submitted" value="ADD a User"/>
						<p>${message}</p>
					</form>
				<br/>
				<a href="">Import user list from CSV</a>
				</div>	
			</div>
			<div class="foot">
				<p>&copy;2012-2012 Stella Xie All rights reserved.
					<a href="/">Contact us</a>
				</p>
			</div>
		</div>
		
</body>
</html>





