<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="" type="text/css" media="screen" charset="utf-8" />
	<title>Service Manager Lite</title>
</head>
<body>
		<h1>This is Service Manager Lite designed by Stella.X</h1>
			<div id='login'>
			<p>Use your Email account to login.</p>
				<form action= "${request.route_url('login')}" method = "POST">
					<label for="email">Email</label>
					<input name="email" type="text" placeholder="Email"/>
					<label for="pass">Password</label>
					<input name="pass" type="password" placeholder="Password"/>
					<p>Password is exactly same with your email address if this is your first time login.</p>
                    <input type="submit"  name="form.submitted" value="LOG IN"/>
				</form>
			</div>		
</body>
</html>
