{% extends "unk/content.html" %} 
{% block sidebar %}
<ul class="nav nav-list">
  <li class="nav-header">menu</li>
  <li class="active"><a href="{% url 'service_list' %}">Service list</a></li>
  <li><a href="{% url 'task_list' %}">Task List</a></li>
</ul>
{% endblock %}

{% block workbench %}
<form class="form-horizontal uniForm well" method="POST">
  
  {% csrf_token %}
  <div class="control-group">
  	<label class="control-label" for="serivce">Service</label>
  	<div class="controls">
  		<input type="text" value="{{ service.name }}" readonly />
  	</div>
  </div>
  <div class="control-group">
  	<label class="control-label" for="delivery">Delivery time</label>
  	<div class="controls">
  		<input type="text" value="Delivery time from server side" readonly />
  	</div>
  </div>
  {% load crispy_forms_tags %}
  {{ form | crispy }}
  <div class="control-group">
  	<label class="control-label" for="upload">Upload</label>
  	<div class="controls">
  		<input type="file" name="upload"/>
  	</div>
  </div>
  <input type="submit" value="Submit" class="btn btn-primary">
</form>

{% endblock %}
