{% extends "unk/base.html" %} {% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">menu</li>
					<li class="active">Active</li>
					<li>Next item</li>
				</ul>
			</div>
		</div>
		<div class="span9">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#">Default</a></li>
				<li><a href="#">By Category</a></li>
				<li><a href="#">by xxx</a></li>
			</ul>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					{% for service in services %}
					<tr>
						<td>{{ service.name }}</td>
						<td>{{ service.description }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}
