{% extends "unk/content.html" %} 
{% block sidebar %}
<ul class="nav nav-list">
  <li class="nav-header">menu</li>
  <li class="active"><a href="{% url 'service_list' %}">Service list</a></li>
  <li><a href="{% url 'task_list' %}">Task List</a></li>
</ul>
{% endblock %}

{% block workbench %}
<ul class="nav nav-tabs">
  <li class="active"><a href="#">Default</a></li>
  <li><a href="#">By Category</a></li>
  <li><a href="#">by xxx</a></li>
</ul>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Deleivery Time</th>
      <th>Order</th>
    </tr>
  </thead>
  <tbody>
    {% for service in services %}
    <tr>
      <td>{{ service.name }}</td>
      <td>{{ service.description }}</td>
      <td>{{ service.value }} {{ service.currency }}</td>
      <td>{{ service.commit_time_from }} - {{ service.commit_time_to }} {{ service.parameter }}</td>
      <td><a href="{% url 'order_service' service.id %}">Order</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
