{% extends "unk/base.html" %}
{% block content %}
<h1>Create Task (Order service)</h1>
<form class="form-horizontal uniForm well" method="POST">
  
  {% csrf_token %}
  <div class="control-group">
  	<label class="control-label" for="serivce">Service</label>
  	<div class="controls">
  		<input type="text" value="{{ service.name }}" readonly />
  	</div>
  </div>
  <div class="control-group">
  	<label class="control-label" for="delivery">Delivery time</label>
  	<div class="controls">
  		<input type="text" value="Delivery time from server side" readonly />
  	</div>
  </div>
  {% load crispy_forms_tags %}
  {{ form | crispy }}
  <div class="control-group">
  	<label class="control-label" for="upload">Upload</label>
  	<div class="controls">
  		<input type="file" name="upload"/>
  	</div>
  </div>
  <input type="submit" value="Submit" class="btn btn-primary">
</form>

{% endblock %}
