{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block content %}
<div class="span9">
{% if app_list %}
<div class="row-fluid">
{% for app in app_list %}
<div class="span6 well"><!-- TODO: use responsive design later -->
<table class="table table-striped">
  <caption>{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}</caption>
  <tbody>
  {% for model in app.models %}
	  <tr>
	  {% if model.admin_url %}<th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>{% else %}<th scope="row">{{ model.name }}</th>{% endif %}
	  {% if model.add_url %}  <td><a href="{{ model.add_url }}"><span class="icon-plus"></span>{% trans 'Add' %}</a></td>{% else %}<td>&nbsp;</td>{% endif %}
	  {% if model.admin_url %}<td><a href="{{ model.admin_url }}"><span class="icon-edit"></span>{% trans 'Change' %}</a></td>{% else %}<td>&nbsp;</td>{% endif %}
	  </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endfor %}
</div>
{% else %}
<p class="alert alert-info">{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div class="span3">
<div class="well sidebar-nav">
<ul class="nav nav-list">
  <li class="nav-header">{% trans 'Recent Actions' %}</li>
</ul>
{% trans 'My Actions' %}
{% load log %}
{% get_admin_log 10 as admin_log for_user user %}

{% if not admin_log %}
  <p>{% trans 'None available' %}</p>
  {% else %}
  <ul class="actionlist">
  {% for entry in admin_log %}
  <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
		{% if entry.is_deletion or not entry.get_admin_url %}
		  {{ entry.object_repr }}
		{% else %}
		  <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
		{% endif %}
		<br/>
		{% if entry.content_type %}
		  <span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
		{% else %}
		  <span class="mini quiet">{% trans 'Unknown content' %}</span>
		{% endif %}
  </li>
  {% endfor %}
  </ul>
{% endif %}
</div>
</div>
{% endblock %}
