{% extends "base.html" %}
{% block content %}
<div class="row well">
  <div class="span8">
    <h1>span5</h1>
  </div>
  <div class="span3">
  {% load bootstrap_toolkit %}
	<form action="{% url 'django.contrib.auth.views.login' %}" class="form-signin">
	  {% csrf_token %}
	  <input type="text" placeholder="Username" />
	  <input type="password" placeholder="password" />

	  <button class="btn btn-primary" type="submit">Sign in</button>
	  <button class="btn">Sign up</button>
	</form>
  </div>
</div>
{% endblock %}
