{% extends "base.html" %}
{% block content %}

<div id="advertisement" class="carousel slide">
<ol class="carousel-indicators">
<li data-target="#advertisement" data-slide-to="0" class="active"></li>
<li data-target="#advertisement" data-slide-to="1"></li>
<li data-target="#advertisement" data-slide-to="2"></li>
</ol>

<div class="carousel-inner">
	<div class="item active">
	  <img alt="" src="/static/img/slide-01.jpg"></img>
	  <div class="carousel-caption">
	   <h4>Ad here</h4>
	   <p>Ad description</p>
	  </div>
	</div>
	<div class="item">
    <img alt="" src="/static/img/slide-02.jpg"></img>
    <div class="carousel-caption">
     <h4>More Ad here</h4>
     <p>More Ad description</p>
    </div>
	</div>
  <div class="item">
    <img alt="" src="/static/img/slide-03.jpg"></img>
    <div class="carousel-caption">
     <h4>Even more Ad here</h4>
     <p>Even more Ad description</p>
    </div>
  </div>
</div>
<a class="carousel-control left" href="#advertisement" data-slide="prev">&lsaquo;</a>
<a class="carousel-control right" href="#advertisement" data-slide="next">&rsaquo;</a>
</div>
{% endblock %}
